[user]
    name = hermannm
    email = hermann.morkrid@gmail.com

[core]
    editor = nano

[init]
    defaultbranch = main

[pull]
    rebase = false

# Sets up Git Credential Manager for connecting to GitHub with a Personal Access Token.
# Included in Git for Windows: https://gitforwindows.org/
[credential]
    helper = "/mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe"

# Sets up GPG signing of commits and tags.
# - Download gpg4win here: https://gpg4win.org/
# - Add certificate to Kleopatra
# - Get the key ID, and set it like this: sudo git config --system user.signingkey [KEY-ID]
[gpg]
    program = "/mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe"
[commit]
    gpgsign = true
[tag]
    gpgsign = true
